*{
    margin: 0;
    padding: 0;
}

#nav{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    background-color: purple;
    justify-content: center;
    align-items: center;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:chartreuse;
    height: 30vh;
    width: 80vw;
    border-radius: 5vw;
}

.container select{
    max-width: 10vw;
    height: 3vh;
    border-radius: 4vw;
    text-align: center;
    margin: 1vw;
}

.container input{
    max-width: 10vw;
    height: 3vh;
    border-radius: 4vw;
    text-align: center;
    margin: 1vw;
}

p{
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 3vh;
    margin: 1vw;
}

#con{
    position: relative;
    top: 7vh;
    right: 26vw;
    font-weight: bolder;
    border-radius: 3vw;
    height: 4vh;
    width: 8vw;
}

#new{
    position: absolute;
    left: 43vw;
    top: 71vh;
    font-weight: bolder;
}